src/main/mule/sonar-project-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b4109c0-556b-411e-99b9-d653c8e783b4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sonar-project-demoFlow" doc:id="f60d5847-3cf5-4593-9470-18fcc73c45fa" >
		<http:listener doc:name="Listener" doc:id="c42c401a-3809-4901-bc25-6f2f1da1c36f" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="fb6e11ad-9dde-4f56-ac5e-3ae6afee10be" message="#[payload]"/>
	</flow>
</mule>
